// Margin-top
@import 'functions';

.margin-top-10 {
  margin-top: size(10);
}

.margin-top-20 {
  margin-top: size(20);
}

.margin-top-30 {
  margin-top: size(30);
}

.margin-top-40 {
  margin-top: size(40);
}

.margin-top-50 {
  margin-top: size(50);
}

.margin-top-60 {
  margin-top: size(60);
}


.margin-top-70 {
  margin-top: size(70);
}


.margin-top-80 {
  margin-top: size(80);
}


.margin-top-90 {
  margin-top: size(90);
}

// margin-bottom
.margin-bottom-5 {
  margin-bottom: size(5);
}

.margin-bottom-10 {
  margin-bottom: size(10);
}

.margin-bottom-20 {
  margin-bottom: size(20);
}

.margin-bottom-30 {
  margin-bottom: size(30);
}

.margin-bottom-40 {
  margin-bottom: size(40);
}

.margin-bottom-50 {
  margin-bottom: size(50);
}


// Padding
.padding-32 {
  padding: 32px
}

.padding-24 {
  padding: 24px
}

// padding-top

.padding-top-10 {
  padding-top: size(10);
}

.padding-top-20 {
  padding-top: size(20);
}

.padding-top-30 {
  padding-top: size(30);
}

.padding-top-40 {
  padding-top: size(40);
}

.padding-top-50 {
  padding-top: size(50);
}

.padding-top-60 {
  padding-top: size(60);
}


.padding-top-70 {
  padding-top: size(70);
}


.padding-top-80 {
  padding-top: size(80);
}


.padding-top-90 {
  padding-top: size(90);
}

// padding-bottom

.padding-bottom-10 {
  padding-bottom: size(10) !important;

}

.padding-bottom-50 {
  padding-bottom: size(50) !important;

}


// Horizontal padding
.padding-horizontal-10 {
  padding-left: size(10);
  padding-right: size(10);
}

.padding-horizontal-20 {
  padding-left: size(20);
  padding-right: size(20);
}

.padding-horizontal-30 {
  padding-left: size(30);
  padding-right: size(30);
}

.padding-horizontal-40 {
  padding-left: size(40);
  padding-right: size(40);
}

.padding-horizontal-50 {
  padding-left: size(50);
  padding-right: size(50);
}

.padding-horizontal-60 {
  padding-left: size(60);
  padding-right: size(60);
}

.padding-horizontal-70 {
  padding-left: size(70);
  padding-right: size(70);
}

.padding-horizontal-80 {
  padding-left: size(80);
  padding-right: size(80);
}

.padding-horizontal-90 {
  padding-left: size(90);
  padding-right: size(90);
}

.padding-horizontal-100 {
  padding-left: size(100);
  padding-right: size(100);
}

.padding-horizontal-150 {
  padding-left: size(150);
  padding-right: size(150);
}

.padding-horizontal-170 {
  padding-left: size(170);
  padding-right: size(170);
}

.padding-horizontal-230 {
  padding-left: size(230);
  padding-right: size(230);
}
