$font-family-base: Nunito;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-bold: bold;
$font-weight-light: 300;


@import 'functions';
@import 'variables';



// Text sizes
.text-56 {
  font-size: size(56);
}

.text-14{
  font-size: size(14) !important;
}

.text-16{
  font-size: size(16);
}

.text-17{
  font-size: size(17);
}

.text-20 {
  font-size: size(20);
}

.text-24 {
  font-size: size(24);
}

.text-32 {
  font-size: size(32);
}

.text-40 {
  font-size: size(40);
}

.text-48 {
  font-size: size(48);
}
// Font weights

.font-weight-900{
  font-weight: 900 !important;
}

.font-weight-700{
  font-weight: 700;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-500{
  font-weight: 500;
}



// Text shadows
.text-shadow-primary-2{
  text-shadow: 2px 2px 0px var(--ion-color-primary);
}
