

:root {
  --ion-color-primary: #896AF9;
  --ion-color-secondary: #F1EDFE;
  --ion-color-primary-contrast: #ffffff;
  --color-off-yellow: #FFF9E6;
  --ion-white: #ffffff;
  --ion-item-background: transparent;
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-activated-opacity: transparent;
  --background-focused: transparent;
  --background-focused-opacity: transparent;
  --background-hover: transparent;
  --background-hover-opacity: transparent;
  --border-gray-1: #F2F2F2
}
