

.subscription-process-container{
  background-image: url('/assets/images/sub-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex !important;
  align-items: center !important;
  background-color:var(--color-off-yellow) ;
  @media (max-width: 1023px) {
    background-image: none; /* Remove the background image */
  }
}
