
:host {
  display: block;

  ion-button {
    text-transform: none !important;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    // border: 1px solid #896AF9;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.custom-ion-button::part(native) {
  background-color: var(--ion-color-primary-contrast) !important;
  border-radius: var(--custom-border-radius, 5px); //default
  box-shadow: 4px 4px 0px -1px var(--ion-color-primary);


}
