
$primary: #896AF9;
$secondary: #F1EDFE;
$tertiary: #f038ff;
$success: #4caf50;
$warning: #ff9800;
$danger: #f44336;
$light: #f4f4f4;
$dark: #222;
$off-yellow: #FFF9E6;


:root {
  --ion-color-primary: #896AF9;
  --ion-color-secondary: #F1EDFE;

  --ion-color-primary-contrast: #ffffff;
  --color-off-yellow:#FFF9E6;
  --ion-white: #ffffff;
  --ion-item-background: transparent

}
