:host {
  padding:32px; //TODO

  display: block;
  background-color: var(--ion-color-primary-contrast);
  ::ng-deep .item-native{
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important

  }

ion-item{
  margin-bottom: 10px !important;
}
}


.child-age-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px; /* Adjust the gap size as needed */
}

.grade-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px; /* Adjust the gap size as needed */
}
