<section class="subscription-form-container" [ngClass]="{
  'padding-24': isMobile || isTablet,
  'padding-32': isDesktop || isLargeScreen,
}">

  <!-- Header -->
  <div class="flex-column margin-bottom-10">
    <span class="text-24 font-weight-700">Subscription Details</span>
    <span class="text-16 font-weight-14 margin-bottom-10 border-bottom padding-bottom-10">to our Monthly Surprise
      Box</span>

  </div>
  <!--  -->

  <form [formGroup]="subscriptionForm">
    <ion-list lines="none" class="ion-no-padding">

      <!-- Contact Information -->
      <div class="margin-bottom-20">
        <span class="text-20 font-weight-700">Contact Information</span>

        <ion-item>
          <div class="flex-column w-100 margin-bottom-10">
            <ion-label class="text-14 font-weight-500 margin-bottom-5">Your name</ion-label>
            <ion-input formControlName="fullName" fill="outline" placeholder="Mohamed Mamdouh"></ion-input>
          </div>
        </ion-item>

        <ion-item>
          <div class="flex-column w-100 margin-bottom-10">
            <ion-label class="text-14 font-weight-500 margin-bottom-5">Email</ion-label>
            <ion-input formControlName="email" type="email" fill="outline"
              placeholder="mo.mamdouh.saad@gmail.com"></ion-input>
          </div>
        </ion-item>
      </div>
      <!--  -->

      <!-- Child Information -->
      <div class="margin-bottom-20">
        <span class="text-20 font-weight-700">Child’s Information</span>

        <ion-item>
          <div class="flex-column w-100 margin-bottom-10">
            <ion-label class="text-14 font-weight-500 margin-bottom-5">Child’s Full Name</ion-label>
            <ion-input formControlName="childName" type="text" fill="outline"
              placeholder="Ahmed mohamed saad"></ion-input>
          </div>
        </ion-item>

        <ion-item>
          <div class="flex-column w-100 margin-bottom-10">
            <ion-label class="text-14 font-weight-500 margin-bottom-5">Child’s Date of Birth</ion-label>
            <div formGroupName="childAge" class="flex-row w-100">

              <ion-row class="w-100 child-age-grid">

                <!-- day Select -->
                <ion-col>
                  <div class="flex-1">
                    <ion-select formControlName="day" placeholder="Day" interface="popover" fill="outline"
                      label-placement="stacked">

                      <ion-select-option *ngFor="let day of days" [value]="day">
                        {{day}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <!--  -->

                </ion-col>

                <!-- Month Select -->
                <ion-col>
                  <div class="flex-1">
                    <ion-select formControlName="month" placeholder="Month" interface="popover" fill="outline"
                      label-placement="stacked">
                      <ion-select-option *ngFor="let month of months" [value]="month.value">
                        {{month.name}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <!--  -->

                <ion-col>
                  <!-- Year Select -->
                  <div class="flex-1">
                    <ion-select formControlName="year" placeholder="Year" interface="popover" fill="outline"
                      label-placement="stacked">
                      <ion-select-option *ngFor="let year of years" [value]="year">
                        {{year}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <!--  -->
              </ion-row>

            </div>
          </div>

        </ion-item>

        <ion-item rippleEffect="false">

          <div class="flex-column w-100 margin-bottom-10">
            <ion-label class="text-14 font-weight-500 margin-bottom-5">Grade</ion-label>
            <ion-select formControlName="childGrade" placeholder="Grade" interface="popover" fill="outline"
              label-placement="stacked" class="no-ripple">
              <ion-select-option>
                {{'Grade 1'}}
              </ion-select-option>

              <ion-select-option>
                {{'Grade 2'}}
              </ion-select-option>

              <ion-select-option>
                {{'Grade 3'}}
              </ion-select-option>

              <ion-select-option>
                {{'Grade 4'}}
              </ion-select-option>
            </ion-select>

          </div>
        </ion-item>

        <ion-item>
          <div class="flex-column w-100 margin-bottom-10">

            <ion-label class="text-14 font-weight-500 margin-bottom-5">Grade</ion-label>

            <ion-radio-group value="boy" class="radio-group grade-grid">
              <ion-radio value="start" labelPlacement="start" alignment="center" class="custom-radio"
                slot="start">Boy</ion-radio>
              <ion-radio value="girl" labelPlacement="start" alignment="center" class="custom-radio"
                slot="start">Girl</ion-radio>
            </ion-radio-group>
          </div>


        </ion-item>

      </div>
      <!--  -->
      <ion-item>

        <div class="flex-column w-100 margin-bottom-10">

          <span class="text-20 font-weight-700 margin-bottom-5">As a parent select any 3 topics</span>
          <div class="checkbox-group">
            <ng-container *ngFor="let topic of ['Arabic', 'Islamic', 'History', 'Sports', 'English']">
              <ion-checkbox labelPlacement="start" alignment="center" class="custom-checkbox" slot="start"
                [value]="topic" (ionChange)="onCheckboxChange($event)"
                [checked]="subscriptionForm.get('topics')?.value.includes(topic)">
                {{topic}}
              </ion-checkbox>
            </ng-container>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="ion-no-padding w-100" *ngIf="!isMobile">

      <app-rounded-button (click)="onSubmit()" [size]="'default'" [additionalClass]="'font-bold-900'" [fontWeight]="900"
        [expand]="'block'" [disabled]="subscriptionForm.invalid" style="--custom-border-radius: 16px;">
        Continue to Payment
      </app-rounded-button>

    </div>
  </form>

</section>
