<section class="subscription-form-container">



  <!-- Header -->
  <div class="flex-column" style="margin-bottom:10px">
    <!-- TODO -->

    <span class="text-24 font-weight-700">Subscription Details</span>
    <span class="text-16 font-weight-14" style="margin-bottom: 10px;">to our Monthly Surprise Box</span>
<!-- TODO -->
    <!-- sperator -->
    <svg width="548" height="1" viewBox="0 0 548 1" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="548" height="1" fill="#F2F2F2" />
    </svg>
    <!--  -->

  </div>

  <!--  -->


  <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
    <ion-list lines="none" class="ion-no-padding">
      <!-- Contact Information -->


      <!--  -->
      <span class="text-20 font-weight-700">Contact Information</span>
      <!--  -->


      <ion-item >
        <div class="flex-column w-100">
          <ion-label class="text-14 font-weight-500">Your name</ion-label>
          <ion-input formControlName="fullName" fill="outline" placeholder="Enter text"></ion-input>
        </div>
      </ion-item>


      <ion-item>
        <div class="flex-column w-100">
        <ion-label class="text-14 font-weight-500">Email</ion-label>
        <ion-input formControlName="email" type="email" fill="outline" placeholder="Enter text"></ion-input>
        </div>
      </ion-item>

      <!-- Child Information -->
      <span class="text-20 font-weight-700">Child’s Information</span>

      <ion-item>
        <div class="flex-column w-100">
          <ion-label class="text-14 font-weight-500">Child’s Full Name</ion-label>
          <ion-input formControlName="childName" type="text" fill="outline" placeholder="Enter text"></ion-input>
        </div>
      </ion-item>

      <ion-item>

          <div formGroupName="childAge" class="flex-row w-100">


            <!-- Date Select -->
            <div class="flex-1">
              <ion-label class="text-14 font-weight-500">Date</ion-label>
              <ion-select
                formControlName="date"
                placeholder="Day"
                interface="popover"
                fill="outline"
              >
                <ion-select-option
                  *ngFor="let date of dates"
                  [value]="date"
                >
                  {{date}}
                </ion-select-option>
              </ion-select>
            </div>

            <!-- Month Select -->
            <div class="flex-1">
              <ion-label class="text-14 font-weight-500">Month</ion-label>
              <ion-select
                formControlName="month"
                placeholder="Month"
                interface="popover"
                fill="outline"
              >
                <ion-select-option
                  *ngFor="let month of months"
                  [value]="month.value"
                >
                  {{month.name}}
                </ion-select-option>
              </ion-select>
            </div>

            <!-- Year Select -->
            <div class="flex-1">
              <ion-label class="text-14 font-weight-500">Year</ion-label>
              <ion-select
                formControlName="year"
                placeholder="Year"
                interface="popover"
                fill="outline"
              >
                <ion-select-option
                  *ngFor="let year of years"
                  [value]="year"
                >
                  {{year}}
                </ion-select-option>
              </ion-select>
            </div>
          </div>


      </ion-item>

      <ion-item>


        <div class="flex-column w-100">

        <ion-label class="text-14 font-weight-500">Grade</ion-label>
        <ion-input formControlName="childGrade" type="text" fill="outline" placeholder="Enter text"></ion-input>
</div>
      </ion-item>
    </ion-list>

    <div class="ion-padding w-100">

      <app-rounded-button
      [size]="'default'" [additionalClass]="'font-bold-900'"
      [fontWeight]="900"
      [expand]="'full'"
      style="--custom-border-radius: 16px;
               ">
       Continue to Payment
     </app-rounded-button>

    </div>
  </form>



</section>
