:host {
  padding:32px; //TODO

  display: block;
  background-color: var(--ion-color-primary-contrast);
  ::ng-deep .item-native{
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important

  }

ion-item{
  margin-bottom: 10px !important;
}
}
