@import '../../../styles/functions.scss';

:host {
  display: block;
  background-color: var(--ion-color-primary) !important;
}

.hero-image-desktop{
  max-width: size(800);
}

.hero-image-tablet{
  max-width: size(500);
}


.hero-image-mobile{
  max-width: size(300);
}
