<section class="main-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <span class="text-56 contrast-color font-weight-900 text-shadow-primary-2">
          Discover the Magic of Our Surprise Box
        </span>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <span class="text-24 contrast-color font-weight-700">
          Unleash your child's curiosity with our educational subscription box filled with fun and learning.
        </span>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-margin-top">
        <app-rounded-button
         [size]="'default'" [additionalClass]="'font-bold-900'"
         [fontWeight]="900"
        style="--custom-border-radius: 24px;

                  ">
          Subscribe Now
        </app-rounded-button>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-margin-top">
        <img
          src="assets/images/hero-desktop.png"
          alt="Magical Surprise Box"
          class="hero-image"
          [ngClass]="{
            'mobile-image': responsiveService.isMobile(),
            'desktop-image': !responsiveService.isMobile()
          }"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
