// @import url('/src/app/styles/functions.scss');

#subscription-container{
  background-image: url('/assets/images/subscription-bg-desktop.svg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex !important;
  align-items: center !important;
  ion-content{
    --background: none;
  }
  ion-row{
    width: 100% !important;
  }
}


.responsive-bordered-container {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 52px 0px rgba(185, 169, 205, 0.2);
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
  }
}
