

<section id="subscription-container" style="padding-top: 40px;">

  <ion-content>
    <ion-grid class="main-padding-horizontal ion-no-padding" >
      <div class="responsive-bordered-container">
        <ion-row>
          <ion-col size="12" size-md="7">
            <app-subscription-form></app-subscription-form>
          </ion-col>
          <ion-col size="12" size-md="5">
            <app-bill-summary></app-bill-summary>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-content>


</section>

