

<section id="subscription-container">
  <div *ngIf="isMobile" class="mobile-class">This is a mobile view</div>
  <div *ngIf="isTablet" class="tablet-class">This is a tablet view</div>
  <div *ngIf="isDesktop" class="desktop-class">This is a desktop view</div>
  <div *ngIf="isLargeScreen" class="large-screen-class">This is a large screen view</div>
  <ion-content>
    <ion-grid class="main-padding-horizontal ion-no-padding" >
      <div class="responsive-bordered-container">
        <ion-row>
          <ion-col size="12" size-md="7">
            <app-subscription-form></app-subscription-form>
          </ion-col>
          <ion-col size="12" size-md="5">
            <app-bill-summary></app-bill-summary>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-content>


</section>

