// pages/home/home.page.scss
.content-box {
  padding: 15px;
  background-color: #f4f5f8;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    // Mobile-specific styles
    padding: 10px;
  }

  @media (min-width: 769px) {
    // Desktop-specific styles
    padding: 20px;
  }
}
