:host {
  padding:32px; // TODO
  display: block;
  background-color: var(--ion-color-secondary) !important;
  height: 100% !important;
  ion-item {
    --background: none !important;
    opacity:1 !important;
  }
  ion-label{
    margin: 0 !important;
  }
}


.items-container{
  background-color: white;
  padding:16px 16px 40px 16px;
  border-radius: 8px;
}
